<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Points of Interest Locator</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <nav>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    </nav>
  </header>
  <h1>Points of Interest Locator - City Search</h1>
    <h2>Find something to see in any city around the world</h2>
  <form class="search" action="/city" method="GET" >
    <input type="text" name="city" placeholder="Enter City Name">
    <input type="submit" value="SEARCH">
  </form>
</body>
</html>
