body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url(public-domain-world-country-outline-map.gif);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300vh;
  text-align: center;
}

header {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.container {
  width: 50%;
}

#favorites {
  height: 10000px;
  background-color: rgb(222, 237, 255);
  opacity: .6;
}

.results, .favorites {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}

.results {
  height: 400px;
}

p {
  font-size: 20px;
}

h1, h2 {
  font-size: 50px;
}

#border {
  border: solid 2px black;
  box-shadow: 10px 10px 5px #888888;
  font-family: sans-serif;
  text-align: center;
}

#button {
  height: 50px;
  width: 100px;
  border-radius: 50%;
  font-size: 20px;
}

#signout {
  height: 40px;
  width: 120px;
  border-radius: 40%;
  font-size: 18px;
  background-color: red;

}
