body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url(public-domain-world-country-outline-map.gif);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300vh;
  text-align: center;
}

header {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.container {
  width: 50%;
}

.favorites {
  height: 400px;
  background-color: rgb(222, 237, 255);
  opacity: .6;
}

.results, .favorites {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}

.results {
  height: 400px;
}

.poi {
  width: 170px;
  height: 300px;
  text-align: center;
}

title {
  font-size: 50px;
}

h1, h2 {

}
